* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f2f2f2;
}
.profile-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #fff;
      max-width: 370px;
      width: 100%;
      border-radius: 24px;
      padding: 25px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      position: relative;
}
.profile-card::before {
      content: "";
      height: 150px;
      width: 100%;
      position: absolute;
      background-color: red;
      top: 0;
      border-radius: 24px 24px 0 0;
}
.image {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      padding: 3px;
      background-color: red;
      margin-bottom: 20px;
      z-index: 1;
}
img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid white;
}

.text-data .title {
      font-size: 26px;
      font-weight: 700;
}
.text-data .text {
      margin-top: 5px;
}

.profile-card .media-buttons {
      margin-top: 15px;
      display: flex;
      align-items: center;
}
.media-buttons .link {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
      background-color: red;
      color: #fff;
      font-size: 18px;
      height: 34px;
      width: 34px;
      border-radius: 50%;
}

.profile-card .buttons {
      margin-top: 24px;
      display: flex;
      align-items: center;
}
.buttons .button {
      border: none;
      margin: 0 8px;
      padding: 10px 20px;
      border-radius: 18px;
      background-color: red;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
}
.button:hover {
      background-color: rgb(162, 30, 30);
}

.profile-card .analytics {
      margin-top: 20px;
      display: flex;
      align-items: center;
}
.analytics .data {
      display: flex;
      align-items: center;
      color: #333;
      padding: 0 20px;
      border-right: 2px solid #333;
}
.data i {
      font-size: 18px;
      margin-right: 6px;
}
.data:last-child {
      border-right: none;
}